body {
    font-family: 'Roboto', sans-serif;
    background-image: url('login page.jpeg');
    background-size: cover;
    background-position: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgb(0, 0, 0);
    opacity: 0.9 ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}


.logo {
    opacity: 1;
    height: 150px;
    width: auto;
    margin-bottom: 20px;
}

.welcome {
    color: white;
    font-size: 24px;
    margin: 10px 0;
}

.tagline {
    color: white;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-footer input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 15px;
}

.form-footer input[type="submit"]:hover {
    background-color: #0056b3;
}

.forgot-password {
    text-decoration: none;
    color: #007bff;
}

.forgot-password:hover {
    text-decoration: underline;
}

.signup-prompt {
    color: white;
    margin-top: 20px;
    font-size: 14px;
}

.signup-prompt a {
    color: #007bff;
    text-decoration: none;
}

.signup-prompt a:hover {
    text-decoration: underline;
}
